@media screen and (min-width: 768px) {

    /* HEADER */

    .header-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #menu {
        display: none;
    }

    #navigation {
        display: flex;
        flex-direction: row;
        margin-top: 0;
    }

    #navigation a {
        padding: 1rem 1.25rem;
    }

    /* HERO */

    .hero img {
        height: 420px;
    }

    /* EVENTS + WEATHER */

    .home-grid {
        grid-template-columns: 2fr 1fr;
    }

    /* SPOTLIGHTS */

    .spotlights {
        grid-template-columns: repeat(3, 1fr);
    }

    /* DIRECTORY */

    #members.grid {
        grid-template-columns: repeat(3, 1fr);
    }

    /* FOOTER */

    footer {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

    .footer-contact,
    .footer-project {
        width: 50%;
        margin: 0;
    }
}